boto==2.38.0
dj-database-url==0.3.0
Django==1.8.4
django-bootstrap-pagination==1.5.1
django-bootstrap3==6.2.2
django-crispy-forms==1.5.0
django-herokuapp==0.9.20
django-require==1.0.8
django-require-s3==1.0.0
django-storages==1.1.8
psycopg2==2.6.1
pytz==2015.4
sh==1.11
waitress==0.8.9
