boto==2.36.0
dj-database-url==0.3.0
Django==1.7.6
django-bootstrap-pagination==1.5.1
django-bootstrap3==5.1.1
django-crispy-forms==1.4.0
django-herokuapp==0.9.19
django-require==1.0.7
django-require-s3==1.0.0
django-storages==1.1.8
psycopg2==2.6
pytz==2014.10
sh==1.11
waitress==0.8.9
