{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <p>Welcome to AcaLFG, a tool that I hope will help connect a cappella groups with new members and foster the creation of new groups! <a href="mailto:craig@acalfg.com">Feedback</a> is always welcome!</p>
    <p>Select an option to get started:</p>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="/members" class="btn btn-lg btn-default btn-block">Find New Members</a>
        </div>
        <div class="col-md-4">
          <a href="/auditions" class="btn btn-lg btn-default btn-block">Find an Audition</a>
        </div>
        <div class="col-md-4">
          <a href="/new" class="btn btn-lg btn-default btn-block">Add a New Listing</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
