{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="new-listing">
    <h4>What is your quest?</h4>
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation"{% if form_type == 'lfg' %} class="active"{% endif %}>
        <a href="#lfg" aria-controls="lfg" role="tab" data-toggle="pill">
          To find a group to join!
        </a>
      </li>
      <li role="presentation"{% if form_type == 'audition' %} class="active"{% endif %}>
        <a href="#audition" aria-controls="audition" role="tab" data-toggle="pill">
          To find new members for my group!
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane new-form{% if form_type == 'lfg' %} active{% endif %}" id="lfg">
        <form action="/new" method="post">
          <input type="hidden" name="type" value="lfg" />
          {% crispy lfg_form %}
        </form>
      </div>
      <div role="tabpanel" class="tab-pane new-form{% if form_type == 'audition' %} active{% endif %}" id="audition">
        <form action="/new" method="post">
          <input type="hidden" name="type" value="audition" />
          {% csrf_token %}
          {% crispy audition_form %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
