{% extends "base.html" %}

{% block content %}
  {% if verification_id %}
    <div class="alert alert-success">
      <p>Thanks for verifying your email address!  From this page you can edit or delete your listing.  Don't give this link to anyone else, or else they'll be able to edit your post!</p>
    </div>
  {% endif %}
  <div class="container">
    {% if verification_id %}
      <div class="row admin-buttons">
        <div class="col-md-4">
          {% if audition.is_public %}
            <a class="btn btn-warning btn-lg btn-block" href="/auditions/{{ verification_id }}/hide">Make Private</a>
          {% else %}
            <a class="btn btn-primary btn-lg btn-block" href="/auditions/{{ verification_id }}/post">Make Public</a>
          {% endif %}
        </div>
        <div class="col-md-4">
          <a class="btn btn-default btn-lg btn-block" href="/auditions/{{ verification_id }}/edit">Edit</a>
        </div>
        <div class="col-md-4">
          <a class="btn btn-danger btn-lg btn-block" href="/auditions/{{ verification_id }}/delete">Delete</a>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-6">
        <h3 class="group-name">{{ audition.group }}</h3>
        <div class="row">
          {% if audition.location %}
            <div class="col-md-6">
              <h4>Location:</h4>
              <p>{{ audition.location }}</p>
            </div>
          {% endif %}
          <div class="col-md-6">
            <h4>Voice parts:</h4>
            <ul>
              {% for vp in audition.voice_parts.all %}
                <li>{{ vp.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% if audition.description %}
          <div class="row">
            <div class="col-md-12">
              <h4>Description:</h4>
              <p>{{ audition.description }}</p>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if audition.location %}
          <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ audition.location }}&key={{ maps_key }}&size=480x480&markers=color:red|{{ audition.location }}&zoom=10" />
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
