.content {
  margin-top: 70px;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  color: #fefefe;
  background-color: #6497b1;
  cursor: pointer;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #d0d0d0;
}

.paginate {
  text-align: center;
}
