body {
  font-size: 15px;
}

.content {
  margin-top: 70px;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  color: #fefefe;
  background-color: #6497b1;
  cursor: pointer;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #e0e0e0;
}

.paginate {
  text-align: center;
}

.member-name {
  margin-bottom: 0px;
}

.email-link {
  font-size: 16px;
}

#members-table .member-row td {
  vertical-align: middle;
}

.new-listing ul.nav {
  margin-bottom: 10px;
}

.new-listing .tab-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
